body{
    background-color: rgba(241, 237, 229, 0.514);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{ 
    color: olive;
    text-align: justify;
    font-size: 8mm;
    font-style: oblique;
}